body {


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;

}

/* body>* {
  background-color: rgba(255, 255, 0, 0.5)
}

body>*>* {
  background-color: rgba(0, 225, 255, 0.5)
}

body>*>*>* {
  background-color: rgba(183, 0, 255, 0.5)
}

body>*>*>*>* {
  background-color: rgba(229, 255, 0, 0.5)
} */

a {
  text-decoration: none;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ХЕДЕР */
/* Главное меню навигации */


.main_navigation {
  background-color: #ffffff;
  color: #000000;
}

.main_navigation a {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}

.main_navigation a:hover,
.main_navigation a:focus {
  color: #81b3d2;
}

.main_navigation a:active {
  color: #c7c7c7;
}

.main_navigation .main_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main_list li {
  padding-top: 22px;
  padding-bottom: 22px;

  width: 240px;
  text-align: left;
}

.main_list li:nth-child(1) {
  margin-left: 73px;
}

.main_list li:nth-child(3) {
  margin-left: 92px;
  text-align: right;
}

.main_list li:nth-child(4) {
  text-align: right;
  margin-right: 73px;
}

/* активная страница */
.site_navigation_current {
  color: #766357;
  font-weight: 700;
  line-height: 26px;
}

.welcome_slogan {
  position: absolute;

  top: 159px;
  left: calc(50% - 230px);
}

/* ОСНОВНОЕ СОДЕРЖАНИЕ INDEX_MAIN*/
/* Блок промо */

.main_header{
  width: 1200px;
  height: 800px;
  background-image: url("../img/main/background_photo_1200x800.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main_promo {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.main_promo_header {
  height: 256px;
}

.main_promo_header p:first-child {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.promo_feature {
  width: 100%;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.feature_image {
  background-image: url("../img/main/promo_800x256.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.feature_image_2{
  background-image: url("../img/main/promo-2_800x256.jpg");
  background-repeat: no-repeat;
  background-position: left;
}


.add_features_list li {
  height: 256px;
}

.promo_feature h3,
.add_features_list h3 {
  margin: 0;
  padding: 30px 50px;
  width: 300px;
  font-size: 21px;
  font-weight: 700;
}

.promo_feature p,
.add_features_list p {
  width: 300px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

}

.add_features_list p {
  width: 300px;
  text-align: center;
}

.add_features_list h3 {
  text-align: center;
}

.bg_white {
  color: #000000;
  background-color: #eeeeee;
}

.add_features_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main_booking {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

/* Форма поиска */

.button_form {
  display: inline-block;
  padding: 33px 140px;
  margin-left: 316px;

  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

.button_form:hover,
.button_form:focus {
  background-color: #604e43;
}

.button_form:active {
  color: #928a85;

  background-color: #503e33;
}

.hotel_find_form {
  font-weight: 700;
}

.hotel_find_form input {
  padding: 12px;
  background-color: #f2f2f2;
  border: none;
}

.hotel_find_form input[type="text"]:hover,
.hotel_find_form input[type="text"]:focus {
  background-color: #ebebeb;
}

.hotel_find_form input[type="text"]:active {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.hotel_find_form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel_find_form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel_find_form input::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.count {
  width: 15px;
}

.calendar {
  position: relative;
  margin-top: 0px;
  font-size: 0;
  width: 50px;
  height: 40px;

  padding: 12px;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-image: url("../img/icon/calendar.svg");
  background-position: center;
  border: none;
}

.form_button {
  padding: 12px;

  font-weight: 700;
  font-size: 14px;
  color: #a9a9a9;
  text-align: center;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;
}

.find_button {
  display: inline-block;
  padding: 19px 196px;

  font-size: 21px;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}

.find_button:hover,
.find_button:focus {
  background-color: #669ec0;
}

.find_button:active {
  color: #94b9d2;

  background-color: #5496bd;
}

/* СТРАНИЦА HOTELS */

/* Фильтр */

/* Основное содержание */

.hotel_item {
  border-bottom: 1px solid #e5e5e5;
}

.filter {
  border-bottom: 1px solid #e5e5e5;

  background-image: url("../img/content/filter_background_1200x800.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 508px;
}

.filter fieldset {
  border: none;
}

.filter_checkbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter_checkbox label,
.price label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price_box {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.show_button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
}

.show_button:hover {
  color: #000;
  background-color: #fff;
}

.find_result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort_by_type,
.sort_by_direction {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort_by_type a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}

.sort_by_type a:hover,
.sort_by_type a:focus {
  color: #81b3d2;
}

.sort_by_type a:active {
  color: #000000;

  border: none;
}

.sort_by_type .active,
.sort_by_type .active:hover,
.sort_by_type .active:focus,
.sort_by_type .active:active {
  color: #81b3d2;

  border: none;
}

.hotel_item .button {
  font-weight: 700;
  color: #ffffff;
}

.button_more {
  padding: 3px 17px;

  vertical-align: middle;
  text-align: center;

  background-color: #81b3d2;
}

.button_more:hover,
.button_more:focus {
  background-color: #669ec0;
}

.button_more:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.button_booking {
  padding: 3px 17px;

  vertical-align: middle;
  text-align: center;

  background-color: #766357;
}

.button_booking:hover,
.button_booking:focus {
  background-color: #604e43;
}

.button_booking:active {
  color: #928a85;

  background-color: #503e33;
}

.hotel_rating {
  padding: 3px 14px;

  color: #666666;

  background-color: #f2f2f2;
}

.hotel_stars {
  background-image: url("../img/icon/star.svg");
}

/* ФУТЕР */
/* Социальные сети */

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 36px;
  margin-left: 132px;
  margin-right: 60px;
}

.footer_social {
  text-align: center;

}

.footer_social a {
  color: #000000;
  background-color: #5496bd;
}

.footer_social_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer_developer {
  color: #000000;
  text-align: center;
  margin-top: 24px;
  margin-right: 132px;
}


/* СЕТКА */

.main_container {
  margin: 0 auto;
  width: 1200px;
}

.main_navigation {
  display: flex;
  justify-content: space-around;
}

.main_navigation .main_list {
  display: flex;
}

.logo {
  position: absolute;
  left: calc(50% - 70px);
}

.promo,
.add_features_list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;

}

.hotel_find_form {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.find_hotels_children,
.find_hotels_adults,
.find_hotels_departure,
.find_hotels_arrive {
  display: flex;
}

.main_footer {
  display: flex;
  justify-content: space-between;
}

.developer_text {
  display: block;
  float: left;
  margin-right: 8px;
  padding: 12px 0;
}

.footer_social_list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 36px;
}


.hotel_info {
  display: flex;
  justify-content: space-between;
}
